/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 10px;
}

.nav-bar {
    display: flex;
    text-align: center;
    margin: auto;
    gap: 1rem;
}

.nav-bar a {
    text-decoration: none;
    font-size: 16px;
    padding: 12px;
    font-weight: 600;
    margin-bottom: 5px;
}

.nav-bar a:hover {
    background-color: #F27A44;
    border-radius: 20px;
}

.nav-bar.right {
    display: flex;
    text-align: center;
}

.button{
    background-color: #F27A44;
    border-radius: 20px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: orange;
    color: white;
}

/* Collapse button */
.nav-toggle {
    display: none;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .nav-bar.collapsed {
        display: none;
    }

    .nav-bar.right {
        margin-top: 10px;
    }

    .nav-bar a {
        margin-right: 0;
    }

    .nav-toggle {
        display: block;
        margin: 10px auto;
    }
}
